@import "tailwindcss";

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

input {
  display: block; /* 기본 여백을 없애기 위함 */
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300 600;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-family: "ChosunilboMyeongjo";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/ChosunCentennial_ttf.ttf") format("truetype");
}

@theme {
  --font-serif: "ChosunilboMyeongjo", ui-serif, Georgia, serif;
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;

  /* Primitives - 기본 색상 팔레트 */
  --color-grayscale-50: #ffffff;
  --color-grayscale-100: #fbfcfd;
  --color-grayscale-200: #f1f4f8;
  --color-grayscale-300: #777d84;
  --color-grayscale-400: #000000;

  --color-pastel-almondFrost: #a28878;
  --color-pastel-porsche: #e39d5d;
  --color-pastel-chenin: #d7ca6b;
  --color-pastel-caper: #aacd7e;
  --color-pastel-cruise: #bcdfd3;
  --color-pastel-onahau: #c5e0eb;
  --color-pastel-glacier: #7db7bf;
  --color-pastel-seagull: #79b2ca;
  --color-pastel-jordyBlue: #73a4d0;
  --color-pastel-perano: #a7b9e9;
  --color-pastel-perfume: #bda6e1;
  --color-pastel-lavenderPink: #f0b0d3;
  --color-pastel-amaranth: #e93b5a;
  --color-pastel-chestnut: #c04646;

  /* Tokens - Primitives 참조 */
  --color-neutral-surface-weak: var(--color-grayscale-100);
  --color-neutral-surface-default: var(--color-grayscale-50);
  --color-neutral-surface-point: var(--color-grayscale-200);
  --color-neutral-text-weak: var(--color-grayscale-300);
  --color-neutral-text-default: var(--color-grayscale-400);
  --color-neutral-text-rev-default: var(--color-grayscale-50);
  --color-neutral-border-default: var(--color-grayscale-400);

  --color-brand-surface-default: var(--color-grayscale-50);
  --color-brand-text-income: var(--color-pastel-seagull);
  --color-brand-text-expense: var(--color-pastel-chestnut);

  --color-danger-surface-default: var(--color-pastel-amaranth);
  --color-danger-text-default: var(--color-pastel-amaranth);
  --color-danger-text-rev-default: var(--color-grayscale-50);
  --color-danger-border-default: var(--color-pastel-amaranth);

  --color-colorchip-10: var(--color-pastel-almondFrost);
  --color-colorchip-20: var(--color-pastel-porsche);
  --color-colorchip-30: var(--color-pastel-chenin);
  --color-colorchip-40: var(--color-pastel-caper);
  --color-colorchip-50: var(--color-pastel-cruise);
  --color-colorchip-60: var(--color-pastel-onahau);
  --color-colorchip-70: var(--color-pastel-glacier);
  --color-colorchip-80: var(--color-pastel-jordyBlue);
  --color-colorchip-90: var(--color-pastel-perano);
  --color-colorchip-100: var(--color-pastel-perfume);
  --color-colorchip-110: var(--color-pastel-lavenderPink);
  --color-colorchip-120: var(--color-pastel-chestnut);
}

@layer utilities {
  /* Serif 스타일 */
  .text-serif-48 {
    font-family: var(--font-serif);
    font-size: 3rem; /* 48px */
    line-height: 3.5rem; /* 56px */
  }

  .text-serif-24 {
    font-family: var(--font-serif);
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  .text-serif-14 {
    font-family: var(--font-serif);
    font-size: 0.875rem; /* 14px */
    line-height: 1rem; /* 16px */
  }

  /* Semibold 스타일 */
  .text-semibold-16 {
    font-family: var(--font-sans);
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    font-weight: 600;
  }

  .text-semibold-14 {
    font-family: var(--font-sans);
    font-size: 0.875rem; /* 14px */
    line-height: 1rem; /* 16px */
    font-weight: 600;
  }

  .text-semibold-12 {
    font-family: var(--font-sans);
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: 600;
  }

  /* Light 스타일 */
  .text-light-16 {
    font-family: var(--font-sans);
    font-size: 1rem; /* 16px */
    line-height: 2rem; /* 32px */
    font-weight: 300;
  }

  .text-light-14 {
    font-family: var(--font-sans);
    font-size: 0.875rem; /* 14px */
    line-height: 1.5rem; /* 24px */
    font-weight: 300;
  }

  .text-light-12 {
    font-family: var(--font-sans);
    font-size: 0.75rem; /* 12px */
    line-height: 1.5rem; /* 24px */
    font-weight: 300;
  }
}
